.container {
  margin-left: 20%;
  padding: 1px 16px;
  height: 1000px;
  position: fixed;
  margin-top: 20px;
}

button {
  background-color: rgb(184, 193, 193);
}

div .btns {
  display: flex;
  background-color: aliceblue;
  justify-content: end;
}

.btnadd,
.btnreset,
.btngoback {
  height: 30px;
  width: 80px;
  color: azure;
}

.btnadd {
  background-color: rgb(22, 205, 83);
}

.btnreset {
  background-color: orange;
}

.btngoback {
  background-color: rgb(39, 145, 187);
}

tr {
  background-color: rgb(58, 57, 57);
}

th {
  padding: 5px;
}

.box {
  gap: 18px;
}

tr td {
  margin-top: 50px;
  color: rgb(0, 0, 0);
  border-color: rgb(255, 255, 255);
  background-color: rgb(184, 193, 193);
  text-align: center;
  padding: 10px;
}
